# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Ambiente
.env
.env.* 
.env-config.txt

# Sistema
.DS_Store
Thumbs.db

# VSCode/Cursor
.vscode/
.cursorignore

# Logs
logs/
*.log

# Build/Deploy
dist/
build/
out/
coverage/

# Outros
*.tgz
.idea/
*.swp 